################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/exercise/Exercise14/KarliCards/s.txt
/exercise/Exercise14/KarliCards/l.txt
/exercise/Exercise14/KarliCards/KarliCards.Gui/obj/Debug/GameClientWindow.g.i.cs
/exercise/Exercise14/KarliCards/gameOptions.txt
/exercise/Exercise14/KarliCards/.vs
.vs
.bin
.obj
.Properties

/test/Template/UserControl/UserControl/bin/Debug
